#mySidenav{
    z-index:3;
    width:300px;
    /*style="z-index:3;width:300px;"*/
}
#sosyal_medya{
    margin-top: 15px;
}
#sol_alt ul li{
    position: relative;
    -webkit-animation-name: baslik; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name:baslik;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes baslik {
    0%   {opacity: 0.1; left:-300px;}
    100% {opacity: 1;left:0px;}
}

/* Standard syntax */
@keyframes baslik {
    0%   {opacity: 0.1; left:-300px;}
    100% {opacity: 1;left:0px;}
}

#sol_alt h1{text-align: center;font-size: 30px;font-weight: bold;color:teal}
#sol_alt ul{margin: 0px;padding: 0px;width: 270px;height: auto;}
#sol_alt ul li{list-style-type: none; margin: 5px;width:260px;height: 50px; }


.logo-buyuk{
    float: left;
    width:45%;
}
.logo-kucuk{
    width:65px;
}

.navigasyon-text{
    font-size: 20px;
}

.button {
    border-radius: 8px;background-color: #4CAF50; color: white;
    border: none;padding: 15px 32px; text-align: center;text-decoration: none;
    font-size: 16px;
    float: right;
    display: inline-block;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    opacity: 1;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    opacity: 1;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 1;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;

}

.button:hover span:after {

    right: 0;
}

.carousel-inner{height: auto;margin-top: 20px;}

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}
img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6,.ok-slim,.ok-wide{font-family:"Segoe UI",Arial,sans-serif}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.ok-serif{font-family:"Times New Roman",Times,serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.ok-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}
.ok-image{max-width:100%;height:auto}
.ok-table,.ok-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.ok-table-all{border:1px solid #ccc}
.ok-bordered tr,.ok-table-all tr{border-bottom:1px solid #ddd}
.ok-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.ok-table-all tr:nth-child(odd){background-color:#fff}
.ok-table-all tr:nth-child(even){background-color:#f1f1f1}
.ok-hoverable tbody tr:hover,.ok-ul.ok-hoverable li:hover{background-color:#ccc}
.ok-centered tr th,.ok-centered tr td{text-align:center}
.ok-table td,.ok-table th,.ok-table-all td,.ok-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.ok-table th:first-child,.ok-table td:first-child,.ok-table-all th:first-child,.ok-table-all td:first-child{padding-left:16px}
.ok-btn,.ok-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.ok-btn:hover,.ok-btn-block:hover,.ok-btn-floating:hover,.ok-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.ok-btn,.ok-btn-floating,.ok-btn-floating-large,.ok-closenav,.ok-opennav,.ok-btn-block{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.ok-btn-floating,.ok-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.ok-btn-floating{width:40px;height:40px;line-height:40px}.ok-btn-floating-large{width:56px;height:56px;line-height:56px}
.ok-disabled,.ok-btn:disabled,.ok-btn-floating:disabled,.ok-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.ok-btn.ok-disabled *,.ok-btn-block.ok-disabled,.ok-btn-floating.ok-disabled *,.ok-btn:disabled *,.ok-btn-floating:disabled *{pointer-events:none}
.ok-btn.ok-disabled:hover,.ok-btn-block.ok-disabled:hover,.ok-btn:disabled:hover,.ok-btn-floating.ok-disabled:hover,.ok-btn-floating:disabled:hover,
.ok-btn-floating-large.ok-disabled:hover,.ok-btn-floating-large:disabled:hover{box-shadow:none}
.ok-btn-group .ok-btn{float:left}.ok-btn-block{width:100%}
.ok-btn-bar .ok-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.ok-btn-bar .ok-btn:hover{background-color:#ccc}
.ok-badge,.ok-tag,.ok-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.ok-badge{border-radius:50%}
ul.ok-ul{list-style-type:none;padding:0;margin:0}ul.ok-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}ul.ok-ul li:last-child{border-bottom:none}
.ok-tooltip,.ok-display-container{position:relative}.ok-tooltip .ok-text{display:none}.ok-tooltip:hover .ok-text{display:inline-block}
.ok-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.ok-navbar li{float:left}.ok-navbar li a,.ok-navitem,.ok-navbar li .ok-btn,.ok-navbar li .ok-input{display:block;padding:8px 16px}.ok-navbar li .ok-btn,.ok-navbar li .ok-input{border:none;outline:none;width:100%}
.ok-navbar li a:hover{color:#000;background-color:#ccc}
.ok-navbar .ok-dropdown-hover,.ok-navbar .ok-dropdown-click{position:static}
.ok-navbar .ok-dropdown-hover:hover,.ok-navbar .ok-dropdown-hover:first-child,.ok-navbar .ok-dropdown-click:hover{background-color:#ccc;color:#000}
.ok-navbar a,.ok-topnav a,.ok-sidenav a,.ok-dropdown-content a,.ok-accordion-content a,.ok-dropnav a{text-decoration:none!important}
.ok-navbar .ok-opennav.ok-right{float:right!important}.ok-topnav{padding:8px 8px}
.ok-topnav a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .25s;transition:border-bottom .25s}
.ok-topnav a:hover{border-bottom:3px solid #fff}.ok-topnav .ok-dropdown-hover a{border-bottom:0}
.ok-opennav,.ok-closenav{color:inherit}.ok-opennav:hover,.ok-closenav:hover{cursor:pointer;opacity:0.8}
.ok-btn,.ok-btn-floating,.ok-dropnav a,.ok-btn-floating-large,.ok-btn-block, .ok-navbar a,.ok-sidenav a,.ok-pagination li a,.ok-hoverable tbody tr,.ok-hoverable li,
.ok-accordion-content a,.ok-dropdown-content a,.ok-dropdown-click:hover,.ok-dropdown-hover:hover,.ok-opennav,.ok-closenav,.ok-closebtn,*[class*="ok-hover-"]
{-webkit-transition:background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;transition:background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s}
.ok-ripple:active{opacity:0.5}.ok-ripple{-webkit-transition:opacity 0s;transition:opacity 0s}
.ok-sidenav{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.ok-sidenav a{padding:4px 2px 4px 16px}.ok-sidenav a:hover{background-color:#ccc}.ok-sidenav a,.ok-dropnav a{display:block}
.ok-sidenav .ok-dropdown-hover:hover,.ok-sidenav .ok-dropdown-hover:first-child,.ok-sidenav .ok-dropdown-click:hover,.ok-dropnav a:hover{background-color:#ccc;color:#000}
.ok-sidenav .ok-dropdown-hover,.ok-sidenav .ok-dropdown-click {width:100%}.ok-sidenav .ok-dropdown-hover .ok-dropdown-content,.ok-sidenav .ok-dropdown-click .ok-dropdown-content{min-width:100%}
.ok-main,#main{margin-left:300px;transition:margin-left .4s}
.ok-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.ok-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.ok-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.ok-closebtn:hover,.ok-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}
.ok-pagination{display:inline-block;padding:0;margin:0}.ok-pagination li{display:inline}
.ok-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.ok-pagination li a:hover{background-color:#ccc}
.ok-input-group,.ok-group{margin-top:24px;margin-bottom:24px}
.ok-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:100%}
.ok-label{color:#009688}.ok-input:not(:valid)~.ok-validate{color:#f44336}
.ok-select{padding:9px 0;width:100%;color:#000;border:1px solid transparent;border-bottom:1px solid #009688}
.ok-select select:focus{color:#000;border:1px solid #009688}.ok-select option[disabled]{color:#009688}
.ok-dropdown-click,.ok-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.ok-dropdown-hover:hover .ok-dropdown-content{display:block;z-index:1}
.ok-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.ok-dropdown-content a{padding:6px 16px;display:block}
.ok-dropdown-content a:hover{background-color:#ccc}
.ok-accordion {width:100%;cursor:pointer}
.ok-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.ok-accordion-content a{padding:6px 16px;display:block}.ok-accordion-content a:hover{background-color:#ccc}
.ok-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.ok-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}
input[type=checkbox].ok-check,input[type=radio].ok-radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].ok-check:checked+.ok-validate,input[type=radio].ok-radio:checked+.ok-validate{color:#009688}
input[type=checkbox].ok-check:disabled+.ok-validate,input[type=radio].ok-radio:disabled+.ok-validate{color:#aaa}
.ok-responsive{overflow-x:auto}
.ok-container:after,.ok-panel:after,.ok-row:after,.ok-row-padding:after,.ok-topnav:after,.ok-clear:after,.ok-btn-group:before,.ok-btn-group:after,.ok-btn-bar:before,.ok-btn-bar:after
{content:"";display:table;clear:both}
.ok-col,.ok-half,.ok-third,.ok-twothird,.ok-threequarter,.ok-quarter{float:left;width:100%}
.ok-col.s1{width:8.33333%}
.ok-col.s2{width:16.66666%}
.ok-col.s3{width:24.99999%}
.ok-col.s4{width:33.33333%}
.ok-col.s5{width:41.66666%}
.ok-col.s6{width:49.99999%}
.ok-col.s7{width:58.33333%}
.ok-col.s8{width:66.66666%}
.ok-col.s9{width:74.99999%}
.ok-col.s10{width:83.33333%}
.ok-col.s11{width:91.66666%}
.ok-col.s12,.ok-half,.ok-third,.ok-twothird,.ok-threequarter,.ok-quarter{width:99.99999%}
@media only screen and (min-width:601px){
    .ok-col.m1{width:8.33333%}
    .ok-col.m2{width:16.66666%}
    .ok-col.m3,.ok-quarter{width:24.99999%}
    .ok-col.m4,.ok-third{width:33.33333%}
    .ok-col.m5{width:41.66666%}
    .ok-col.m6,.ok-half{width:49.99999%}
    .ok-col.m7{width:58.33333%}
    .ok-col.m8,.ok-twothird{width:66.66666%}
    .ok-col.m9,.ok-threequarter{width:74.99999%}
    .ok-col.m10{width:83.33333%}
    .ok-col.m11{width:91.66666%}
    .ok-col.m12{width:99.99999%}}
@media only screen and (min-width:993px){
    .ok-col.l1{width:8.33333%}
    .ok-col.l2{width:16.66666%}
    .ok-col.l3,.ok-quarter{width:24.99999%}
    .ok-col.l4,.ok-third{width:33.33333%}
    .ok-col.l5{width:41.66666%}
    .ok-col.l6,.ok-half{width:49.99999%}
    .ok-col.l7{width:58.33333%}
    .ok-col.l8,.ok-twothird{width:66.66666%}
    .ok-col.l9,.ok-threequarter{width:74.99999%}
    .ok-col.l10{width:83.33333%}
    .ok-col.l11{width:91.66666%}
    .ok-col.l12{width:99.99999%}}
/*max-width:2560px*/
.ok-content{max-width: 100%;margin:auto}
.ok-rest{overflow:hidden}
.ok-layout-container{display:table;width:100%}.ok-layout-row{display:table-row}.ok-layout-cell,.ok-layout-col{display:table-cell}
.ok-layout-top{vertical-align:top}.ok-layout-middle{vertical-align:middle}.ok-layout-bottom{vertical-align:bottom}
.ok-hide{display:none!important}.ok-show-block,.ok-show{display:block!important}.ok-show-inline-block{display:inline-block!important}
@media (max-width:600px){.ok-modal-content{margin:0 10px;width:auto!important}.ok-modal{padding-top:30px}}
@media (max-width:768px){.ok-modal-content{width:500px}.ok-modal{padding-top:50px}}
@media (min-width:993px){.ok-modal-content{width:900px}}
@media screen and (max-width:600px){.ok-topnav a{display:block}.ok-navbar li:not(.ok-opennav){float:none;width:100%!important}.ok-navbar li.ok-right{float:none!important}}
@media screen and (max-width:600px){.ok-topnav .ok-dropdown-hover .ok-dropdown-content,.ok-navbar .ok-dropdown-click .ok-dropdown-content,.ok-navbar .ok-dropdown-hover .ok-dropdown-content{position:relative}}
@media screen and (max-width:600px){.ok-topnav,.ok-navbar{text-align:center}}
@media (max-width:600px){.ok-hide-small{display:none!important}}
@media (max-width:992px) and (min-width:601px){.ok-hide-medium{display:none!important}}
@media (min-width:993px){.ok-hide-large{display:none!important}}
@media only screen and (max-width:600px){.ok-layout-col{display:block;width:100%!important}}
@media screen and (max-width:992px){.ok-sidenav.ok-collapse{display:none}.ok-main{margin-left:0!important;margin-right:0!important}}
@media screen and (min-width:993px){.ok-sidenav.ok-collapse{display:block!important}}
.ok-top,.ok-bottom{position:fixed;width:100%;z-index:1}.ok-top{top:0}.ok-bottom{bottom:0}
.ok-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.ok-left{float:left!important}.ok-right{float:right!important}
.ok-tiny{font-size:10px!important}.ok-small{font-size:12px!important}
.ok-medium{font-size:15px!important}.ok-large{font-size:18px!important}
.ok-xlarge{font-size:24px!important}.ok-xxlarge{font-size:36px!important}
.ok-xxxlarge{font-size:48px!important}.ok-jumbo{font-size:64px!important}
.ok-vertical{word-break:break-all;line-height:1;text-align:center;width:0.6em}
.ok-left-align{text-align:left!important}.ok-right-align{text-align:right!important}
.ok-justify{text-align:justify!important}.ok-center{text-align:center!important}
.ok-display-topleft{position:absolute;left:0;top:0}.ok-display-topright{position:absolute;right:0;top:0}
.ok-display-bottomleft{position:absolute;left:0;bottom:0}.ok-display-bottomright{position:absolute;right:0;bottom:0}
.ok-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.ok-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.ok-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.ok-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ok-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ok-display-container:hover .ok-display-hover{display:block}.ok-display-container:hover span.ok-display-hover{display:inline-block}.ok-display-hover{display:none}
.ok-circle{border-radius:50%!important}
.ok-round-small{border-radius:2px!important}.ok-round,.ok-round-medium{border-radius:65px!important}
.ok-round-large{border-radius:8px!important}.ok-round-xlarge{border-radius:16px!important}
.ok-round-xxlarge{border-radius:32px!important}.ok-round-jumbo{border-radius:64px!important}
.ok-border-0{border:0!important}.ok-border{border:1px solid #ccc!important}
.ok-border-top{border-top:1px solid #ccc!important}.ok-border-bottom{border-bottom:1px solid #ccc!important}
.ok-border-left{border-left:1px solid #ccc!important}.ok-border-right{border-right:1px solid #ccc!important}
.ok-margin{margin:16px!important}.ok-margin-0{margin:0!important}
.ok-margin-top{margin-top:16px!important}.ok-margin-bottom{margin-bottom:16px!important}
.ok-margin-left{margin-left:16px!important}.ok-margin-right{margin-right:16px!important}
.ok-section{margin-top:16px!important;margin-bottom:16px!important}
.ok-padding-tiny{padding:2px 4px!important}.ok-padding-small{padding:4px 8px!important}
.ok-padding-medium,.ok-padding,.ok-form{padding:8px 16px!important}
.ok-padding-large{padding:12px 24px!important}.ok-padding-xlarge{padding:16px 32px!important}
.ok-padding-xxlarge{padding:24px 48px!important}.ok-padding-jumbo{padding:32px 64px!important}
.ok-padding-4{padding-top:4px!important;padding-bottom:4px!important}
.ok-padding-8{padding-top:8px!important;padding-bottom:8px!important}
.ok-padding-12{padding-top:12px!important;padding-bottom:12px!important}
.ok-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.ok-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.ok-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.ok-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.ok-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.ok-padding-128{padding-top:128px!important;padding-bottom:128px!important}
.ok-padding-0{padding:0!important}
.ok-padding-top{padding-top:8px!important}.ok-padding-bottom{padding-bottom:8px!important}
.ok-padding-left{padding-left:16px!important}.ok-padding-right{padding-right:16px!important}
.ok-topbar{border-top:6px solid #ccc!important}.ok-bottombar{border-bottom:6px solid #ccc!important}
.ok-leftbar{border-left:6px solid #ccc!important}.ok-rightbar{border-right:6px solid #ccc!important}
.ok-row-padding,.ok-row-padding>.ok-half,.ok-row-padding>.ok-third,.ok-row-padding>.ok-twothird,.ok-row-padding>.ok-threequarter,.ok-row-padding>.ok-quarter,.ok-row-padding>.ok-col{padding:0 8px}
.ok-spin{animation:ok-spin 2s infinite linear;-webkit-animation:ok-spin 2s infinite linear}
@-webkit-keyframes ok-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes ok-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.ok-container{padding:0.01em 16px}
.baslik{margin-top: 40px;float: left;font-weight: bold;}
.alt_baslik{margin-top: -10px;text-align: center;margin-left: -5px;float: left;font-family:'Monotype Corsiva'}
.ok-panel{padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important}
.ok-example{background-color:#f1f1f1;padding:0.01em 16px}
.ok-code,.ok-codespan{font-family:Consolas,"courier new";font-size:16px}
.ok-code{line-height:1.4;width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.ok-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.ok-example,.ok-code{margin:20px 0}.ok-card{border:1px solid #ccc}
.ok-card-2,.ok-example{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.ok-card-4,.ok-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.ok-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.ok-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.ok-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.ok-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}
.ok-animate-fading{-webkit-animation:fading 10s infinite;animation:fading 10s infinite}
@-webkit-keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.ok-animate-opacity{-webkit-animation:opac 0.8s;animation:opac 0.8s}
@-webkit-keyframes opac{from{opacity:0} to{opacity:1}}
@keyframes opac{from{opacity:0} to{opacity:1}}
.ok-animate-top{position:relative;-webkit-animation:animatetop 0.4s;animation:animatetop 0.4s}
@-webkit-keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.ok-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.ok-animate-right{position:relative;-webkit-animation:animateright 0.4s;animation:animateright 0.4s}
@-webkit-keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.ok-animate-bottom{position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.ok-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.ok-animate-input{-webkit-transition:width 0.4s ease-in-out;transition:width 0.4s ease-in-out}.ok-animate-input:focus{width:100%!important}
.ok-opacity,.ok-hover-opacity:hover{opacity:0.60;filter:alpha(opacity=60);-webkit-backface-visibility:hidden}
.ok-opacity-off,.ok-hover-opacity-off:hover{opacity:1;filter:alpha(opacity=100);-webkit-backface-visibility:hidden}
.ok-opacity-max{opacity:0.25;filter:alpha(opacity=25);-webkit-backface-visibility:hidden}
.ok-opacity-min{opacity:0.75;filter:alpha(opacity=75);-webkit-backface-visibility:hidden}
.ok-greyscale-max,.ok-grayscale-max,.ok-hover-greyscale:hover,.ok-hover-grayscale:hover{-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.ok-greyscale,.ok-grayscale{-webkit-filter:grayscale(75%);filter:grayscale(75%)}
.ok-greyscale-min,.ok-grayscale-min{-webkit-filter:grayscale(50%);filter:grayscale(50%)}
.ok-sepia{-webkit-filter:sepia(75%);filter:sepia(75%)}
.ok-sepia-max,.ok-hover-sepia:hover{-webkit-filter:sepia(100%);filter:sepia(100%)}
.ok-sepia-min{-webkit-filter:sepia(50%);filter:sepia(50%)}
.ok-text-shadow{text-shadow:1px 1px 0 #444}.ok-text-shadow-white{text-shadow:1px 1px 0 #ddd}
.ok-transparent{background-color:transparent!important}
.ok-hover-none:hover{box-shadow:none!important;background-color:transparent!important}
/* Colors */
.ok-amber,.ok-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.ok-aqua,.ok-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.ok-blue,.ok-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.ok-light-blue,.ok-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.ok-brown,.ok-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.ok-cyan,.ok-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.ok-blue-grey,.ok-hover-blue-grey:hover,.ok-blue-gray,.ok-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.ok-green,.ok-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.ok-light-green,.ok-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.ok-indigo,.ok-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.ok-khaki,.ok-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.ok-lime,.ok-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.ok-orange,.ok-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.ok-deep-orange,.ok-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.ok-pink,.ok-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.ok-purple,.ok-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.ok-deep-purple,.ok-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.ok-red,.ok-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.ok-sand,.ok-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.ok-teal,.ok-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.ok-yellow,.ok-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.ok-white,.ok-hover-white:hover{color:#000!important;background-color:#fff!important}
.ok-black,.ok-hover-black:hover{color:#fff!important;background-color:#000!important}
.ok-grey,.ok-hover-grey:hover,.ok-gray,.ok-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.ok-light-grey,.ok-hover-light-grey:hover,.ok-light-gray,.ok-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.ok-dark-grey,.ok-hover-dark-grey:hover,.ok-dark-gray,.ok-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.ok-pale-red,.ok-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.ok-pale-green,.ok-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.ok-pale-yellow,.ok-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.ok-pale-blue,.ok-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.ok-text-amber,.ok-hover-text-amber:hover{color:#ffc107!important}
.ok-text-aqua,.ok-hover-text-aqua:hover{color:#00ffff!important}
.ok-text-blue,.ok-hover-text-blue:hover{color:#2196F3!important}
.ok-text-light-blue,.ok-hover-text-light-blue:hover{color:#87CEEB!important}
.ok-text-brown,.ok-hover-text-brown:hover{color:#795548!important}
.ok-text-cyan,.ok-hover-text-cyan:hover{color:#00bcd4!important}
.ok-text-blue-grey,.ok-hover-text-blue-grey:hover,.ok-text-blue-gray,.ok-hover-text-blue-gray:hover{color:#607d8b!important}
.ok-text-green,.ok-hover-text-green:hover{color:#4CAF50!important}
.ok-text-light-green,.ok-hover-text-light-green:hover{color:#8bc34a!important}
.ok-text-indigo,.ok-hover-text-indigo:hover{color:#3f51b5!important}
.ok-text-khaki,.ok-hover-text-khaki:hover{color:#b4aa50!important}
.ok-text-lime,.ok-hover-text-lime:hover{color:#cddc39!important}
.ok-text-orange,.ok-hover-text-orange:hover{color:#ff9800!important}
.ok-text-deep-orange,.ok-hover-text-deep-orange:hover{color:#ff5722!important}
.ok-text-pink,.ok-hover-text-pink:hover{color:#e91e63!important}
.ok-text-purple,.ok-hover-text-purple:hover{color:#9c27b0!important}
.ok-text-deep-purple,.ok-hover-text-deep-purple:hover{color:#673ab7!important}
.ok-text-red,.ok-hover-text-red:hover{color:#f44336!important}
.ok-text-sand,.ok-hover-text-sand:hover{color:#fdf5e6!important}
.ok-text-teal,.ok-hover-text-teal:hover{color:#009688!important}
.ok-text-yellow,.ok-hover-text-yellow:hover{color:#d2be0e!important}
.ok-text-white,.ok-hover-text-white:hover{color:#fff!important}
.ok-text-black,.ok-hover-text-black:hover{color:#000!important}
.ok-text-grey,.ok-hover-text-grey:hover,.ok-text-gray,.ok-hover-text-gray:hover{color:#757575!important}
.ok-text-light-grey,.ok-hover-text-light-grey:hover,.ok-text-light-gray,.ok-hover-text-light-gray:hover{color:#f1f1f1!important}
.ok-text-dark-grey,.ok-hover-text-dark-grey:hover,.ok-text-dark-gray,.ok-hover-text-dark-gray:hover{color:#3a3a3a!important}
.ok-border-amber,.ok-hover-border-amber:hover{border-color:#ffc107!important}
.ok-border-aqua,.ok-hover-border-aqua:hover{border-color:#00ffff!important}
.ok-border-blue,.ok-hover-border-blue:hover{border-color:#2196F3!important}
.ok-border-light-blue,.ok-hover-border-light-blue:hover{border-color:#87CEEB!important}
.ok-border-brown,.ok-hover-border-brown:hover{border-color:#795548!important}
.ok-border-cyan,.ok-hover-border-cyan:hover{border-color:#00bcd4!important}
.ok-border-blue-grey,.ok-hover-border-blue-grey:hover,.ok-border-blue-gray,.ok-hover-border-blue-gray:hover{border-color:#607d8b!important}
.ok-border-green,.ok-hover-border-green:hover{border-color:#4CAF50!important}
.ok-border-light-green,.ok-hover-border-light-green:hover{border-color:#8bc34a!important}
.ok-border-indigo,.ok-hover-border-indigo:hover{border-color:#3f51b5!important}
.ok-border-khaki,.ok-hover-border-khaki:hover{border-color:#f0e68c!important}
.ok-border-lime,.ok-hover-border-lime:hover{border-color:#cddc39!important}
.ok-border-orange,.ok-hover-border-orange:hover{border-color:#ff9800!important}
.ok-border-deep-orange,.ok-hover-border-deep-orange:hover{border-color:#ff5722!important}
.ok-border-pink,.ok-hover-border-pink:hover{border-color:#e91e63!important}
.ok-border-purple,.ok-hover-border-purple:hover{border-color:#9c27b0!important}
.ok-border-deep-purple,.ok-hover-border-deep-purple:hover{border-color:#673ab7!important}
.ok-border-red,.ok-hover-border-red:hover{border-color:#f44336!important}
.ok-border-sand,.ok-hover-border-sand:hover{border-color:#fdf5e6!important}
.ok-border-teal,.ok-hover-border-teal:hover{border-color:#009688!important}
.ok-border-yellow,.ok-hover-border-yellow:hover{border-color:#ffeb3b!important}
.ok-border-white,.ok-hover-border-white:hover{border-color:#fff!important}
.ok-border-black,.ok-hover-border-black:hover{border-color:#000!important}
.ok-border-grey,.ok-hover-border-grey:hover,.ok-border-gray,.ok-hover-border-gray:hover{border-color:#9e9e9e!important}
.ok-border-light-grey,.ok-hover-border-light-grey:hover,.ok-border-light-gray,.ok-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.ok-border-dark-grey,.ok-hover-border-dark-grey:hover,.ok-border-dark-gray,.ok-hover-border-dark-gray:hover{border-color:#616161!important}
.ok-border-pale-red,.ok-hover-border-pale-red:hover{border-color:#ffe7e7!important}.ok-border-pale-green,.ok-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.ok-border-pale-yellow,.ok-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.ok-border-pale-blue,.ok-hover-border-pale-blue:hover{border-color:#e7ffff!important}



/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.ok-sidenav a,.ok-sidenav h4 {font-weight:bold}