<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <title>Diyetisyen Sistemi</title>
    <link rel="icon" href="images/logo.png" type="image/gif" sizes="16x16"><!--Site üst bar iconu -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    -->  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="images/icons/font-awesome-4.7.0/css/font-awesome.min.css"><!--ikonlar için-->    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"><!--slider için-->
    <link href="css/ok.css" rel="stylesheet" type="text/css" /> <!--site için gerekli css dosyası-->

    <script src="js/myScript.js"></script><!--Ekran küçüldüğünde üç çizgi ikonu çıkar-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><!--slider için-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script><!--slider için-->

    <body class="ok-light-grey ok-content">
        <!-- Sidenav/menu -->
       <!-- Sidenav/menu -->
        <nav id="mySidenav" class="ok-sidenav ok-collapse ok-white ok-animate-left"><br>
            <div class="ok-container">
                <img src="images/logo.png" class="ok-round logo-buyuk">
                <h3 class="baslik"><b>DİYETİSYEN</b></h3>
                <h3 class="alt_baslik ok-text-teal">Randevu Sistemi</h3>
                <a href="#" onclick="ok_close()" class="ok-hide-large ok-right ok-large ok-padding" title="close menu">
                    <i class="fa fa-remove"></i>
                </a>
            </div>

            <div id="sosyal_medya">
                <a href="https://www.facebook.com/ozgur.kan.7" target="_blank" class="ok-hover-white ok-hover-text-indigo ok-show-inline-block"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/kan_ozgur/"  target="_blank" class="ok-hover-white ok-hover-text-purple ok-show-inline-block"><i class="fa fa-instagram fa-2x"></i></a>
                <a href="https://www.snapchat.com/add/ozgur_kan" target="_blank" class="ok-hover-white ok-hover-text-yellow ok-show-inline-block"><i class="fa fa-snapchat fa-2x"></i></a>
                <a href="mailto:galatasaray_ozgur_94@hotmail.com" target="_blank" class="ok-hover-white ok-hover-text-blue ok-show-inline-block"><i class="fa fa-envelope fa-2x"></i></a>        
                <a href="https://www.linkedin.com/in/ozgurkan/" target="_blank" class="ok-hover-white ok-hover-text-indigo ok-show-inline-block"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/ozgurkan/" target="_blank" class="ok-hover-white ok-hover-text-red ok-show-inline-block"><i class="fa fa-youtube fa-2x"></i></a>
            </div>
            <div style="clear: both"></div>

            <a th:href="@{/index2}" onclick="ok_close()" class="ok-hover-teal ok-hover-opacity ok-padding ok-text-teal navigasyon-text"><i class="fa fa-home fa-fw ok-margin-right"></i>ANASAYFA</a>
            <a th:href="@{/hakkimda2}" onclick="ok_close()" class="ok-hover-teal ok-hover-opacity ok-padding navigasyon-text"><i class="fa fa-id-card fa-fw ok-margin-right"></i>HAKKIMIZDA</a>
            
            <div id="sol_alt" style="margin-top: 20px;width:270px;height: auto;margin-left: 8px;">
                <h1>ÜYE İŞLEMLERİ</h1>
                <ul>           
                    <li><a th:href="@{/uyebilgi}" onclick="ok_close()" class="ok-padding"><h4><i class="fa fa-user fa-fw ok-margin-right"></i>ÜYE BİLGİLERİ</h4></a></li>
                    <li><a th:href="@{/randevual}" onclick="ok_close()" class="ok-padding"><h4><i class="fa fa-calendar fa-fw ok-margin-right"></i>RANDEVU AL</h4></a></li>
                    <li><a th:href="@{/uye_randevular}" onclick="ok_close()" class="ok-padding"><h4><i class="fa fa-calendar fa-fw ok-margin-right"></i>RANDEVULARIMI KONTROL ET</h4></a></li>    
                    <li><a th:href="@{/uye_diyetlist}" onclick="ok_close()" class="ok-padding"><h4><i class="fa fa-list-alt fa-fw ok-margin-right"></i>DİYET PROGRAMIM</h4></a></li>
                    <li><a th:href="@{/}" onclick="ok_close()" class="ok-padding"><h4><i class="fa fa-sign-out fa-fw ok-margin-right"></i>ÜYE ÇIKIŞ</h4></a></li>
                    
                </ul>
            </div>
            
        </nav>

        <!-- Overlay effect when opening sidenav on small screens-->
        <div id="myOverlay" class="ok-overlay ok-hide-large ok-animate-opacity" onclick="ok_close()" style="cursor:pointer" title="yan menüyü kapat" ></div>
            
        </div>
        
        <!-- PAGE CONTENT -->
        <div class="ok-main">
            <!-- Header -->
            <header id="portfolio" class="ok-container" >
                <img src="images/logo.png" class="logo-kucuk ok-circle ok-right ok-margin ok-hide-large ok-hover-opacity">
                <span class="ok-opennav ok-hide-large ok-xxlarge ok-hover-text-grey" onclick="ok_open()"><i class="fa fa-bars"></i></span>

                <h3><i class="fa fa-hashtag ok-margin-right"></i><b>EvdeKal veya Slogan Yazısı gibi bişey eklenebilir.</b></h3>
                <div class="ok-section ok-bottombar ok-padding-16">
                    <button class="ok-btn" style="margin: 2px"><i class="fa fa-calendar ok-margin-right"></i>Son Konular</button>
                    <button class="ok-btn ok-white" style="margin: 2px"><i class="fa fa-fire ok-margin-right"></i>Popüler Konular</button>
                    <button class="ok-btn ok-white " style="margin: 2px"><i class="fa fa-comments ok-margin-right"></i>En çok Yorum Alanlar</button>
                </div>
            </header>
                
            <!-- Orta Alan-->
            <div class="ok-row-padding">
                <!-- Slider Alanı-->
                <div class="ok-col s12  m12 ok-container ok-margin-bottom">                  
                     <div id="myCarousel" class="carousel slide" data-ride="carousel" >
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>                               
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="images/1.jpg">
                            </div>
                                
                            <div class="item">
                                <img src="images/2.jpg">
                            </div>
                                
                            <div class="item">
                                <img src="images/3.jpg">
                            </div>

                            <div class="item">
                                <img src="images/4.jpg">
                            </div>

                            <div class="item">
                                <img src="images/5.jpg">
                            </div>
                        </div>
                                
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>                        
                </div>
                
                <!-- İçerik Alan-->
                <div class="ok-col s12  m6 ok-container ok-margin-bottom">
                    <div class="ok-col s12  m12 ok-margin-bottom ok-white ok-hover-teal " style="cursor: pointer;">
                        <img src="images/14.jpg" class="ok-col s12  m12" >                    
                        <h2 class=" ok-col s12  m12" style="text-align:center;padding: 5px;"><b>Koronavirüs’ten Korunmak İçin</b></h2>
                        <p class="ok-col s12  m12" style="padding: 5px;text-indent: 15px;">Spor yapmadan önce yeterli ve dengeli bir şekilde karbonhidrat ve protein alınmaktadır.  
                            İlk olarak potasyum içeriğinin yüksek olması ve spor esnasında kullanılabilecek yakıt aynı zamanda kas ve sinir fonksiyonlarını koruduğu için muz tüketimi önerilmektedir. Lifçe zengin olan besinimiz yulaf…
                        </p>                                 
                    </div>
                </div> 
                
                <div class="ok-col s12  m6 ok-container ok-margin-bottom">
                    <div class="ok-col s12  m12 ok-margin-bottom ok-white ok-hover-teal " style="cursor: pointer;">
                        <img src="images/13.jpg" class="ok-col s12  m12" >                    
                        <h2 class=" ok-col s12  m12" style="text-align:center;padding: 5px;"><b>Koronavirüs’ten Korunmak İçin</b></h2>
                        <p class="ok-col s12  m12" style="padding: 5px;text-indent: 15px;">Spor yapmadan önce yeterli ve dengeli bir şekilde karbonhidrat ve protein alınmaktadır.  
                            İlk olarak potasyum içeriğinin yüksek olması ve spor esnasında kullanılabilecek yakıt aynı zamanda kas ve sinir fonksiyonlarını koruduğu için muz tüketimi önerilmektedir. Lifçe zengin olan besinimiz yulaf…
                        </p>                                 
                    </div>
                </div> 

                <div class="ok-col s12  m6 ok-container ok-margin-bottom">
                    <div class="ok-col s12  m12 ok-margin-bottom ok-white ok-hover-teal " style="cursor: pointer;">
                        <img src="images/12.jpg" class="ok-col s12  m12" >                    
                        <h2 class=" ok-col s12  m12" style="text-align:center;padding: 5px;"><b>Koronavirüs’ten Korunmak İçin</b></h2>
                        <p class="ok-col s12  m12" style="padding: 5px;text-indent: 15px;">Spor yapmadan önce yeterli ve dengeli bir şekilde karbonhidrat ve protein alınmaktadır.  
                            İlk olarak potasyum içeriğinin yüksek olması ve spor esnasında kullanılabilecek yakıt aynı zamanda kas ve sinir fonksiyonlarını koruduğu için muz tüketimi önerilmektedir. Lifçe zengin olan besinimiz yulaf…
                        </p>                                 
                    </div>
                </div> 

                <div class="ok-col s12  m6 ok-container ok-margin-bottom">
                    <div class="ok-col s12  m12 ok-margin-bottom ok-white ok-hover-teal " style="cursor: pointer;">
                        <img src="images/11.jpg" class="ok-col s12  m12" >                    
                        <h2 class=" ok-col s12  m12" style="text-align:center;padding: 5px;"><b>Koronavirüs’ten Korunmak İçin</b></h2>
                        <p class="ok-col s12  m12" style="padding: 5px;text-indent: 15px;">Spor yapmadan önce yeterli ve dengeli bir şekilde karbonhidrat ve protein alınmaktadır.  
                            İlk olarak potasyum içeriğinin yüksek olması ve spor esnasında kullanılabilecek yakıt aynı zamanda kas ve sinir fonksiyonlarını koruduğu için muz tüketimi önerilmektedir. Lifçe zengin olan besinimiz yulaf…
                        </p>                                 
                    </div>
                </div>               
            </div>   
            <!-- Footer -->
            <footer class="ok-container ok-center ok-padding-16 ok-dark-grey">
                
                <!--Google map-->
                <div class="ok-col s12  m12">
                    <div class="ok-col  m8">
                        <iframe class="ok-col s12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4016.274034090709!2d29.008654098177363!3d41.051373014070364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7afd662296b%3A0x838c088492dac437!2zWcSxbGTEsXogVGVrbmlrIMOcbml2ZXJzaXRlc2k!5e0!3m2!1str!2str!4v1605357383633!5m2!1str!2str" height="260px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="ok-col m4">
                        <h3 style="font-weight: bold;padding-left: 50px;">İletişim Bilgileri</h3>
                        <ul style="list-style: none;font-size: 15px;font-weight: bold;">
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                ADRES <br>Yıldız Teknik Üniversitesi, Merkez Yerleşim, A Blok, D:210, 34349 Beşiktaş/İstanbul                                
                            </li>
                            <li>
                                <br><i class="fa fa-phone" aria-hidden="true"></i>
                                TELEFON<br>+90 212 236 85 70                           
                            </li>
                            <li>
                                <br><i class="fa fa-envelope" aria-hidden="true" ></i> 
                                E-POSTA<br> yildizteknikuniversitesi@hs01.kep.tr
                            </li>
                        </ul>
                    </div>
                    <div class="ok-col m12">
                        Powered by:DİYETİSYEN 2020
                    </div>                    
                </div>                
            </footer>
            <!-- End page content -->      
        </div>        
    </body>
</html>
